*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;

}
.toanbo{
  width: auto;
  background-color:#a81c1c ;
  margin: auto;
}

.logo {
  height: 80px;  
  display: block;
  margin-bottom: -20px;

 
}

header {
  display: flex;
  align-items: flex-end;      
  justify-content: flex-start;
  height: 70px;
  padding-left: 200px;
  background-color: #a81c1c;
  position: relative;
  
}

nav{
  height: 35px ;
  display: flex;
  justify-content: center;
  background-color: #a81c1c;
}
nav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;

}

nav ul li {
  text-align: center;
  position: relative;
}

nav ul a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  display: block;
  line-height: 35px;
  padding: 0 10px;
}

nav ul a:hover{
  background-color: chocolate;
  color: white;
}
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* đặt ngay dưới thẻ cha */
  left: 0;
  background-color: white;
  min-width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 999;
}
.submenu li a {
  color: black;
  padding: 10px;
  display: block;
  text-align: left;
}

.submenu li a:hover {
  background-color: #f2f2f2;
}


nav ul li:hover .submenu {
  display: block;
}

/*Phải sử dụng product-list nth child*/
